<%- include('../partials/header') %>

<div class="mt-4">
  <h2>Create New Post</h2>
  <form action="/posts/create" method="POST">
    <div class="mb-3">
      <label>Title</label>
      <input type="text" name="title" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Content</label>
      <textarea name="body" class="form-control" rows="5" required></textarea>
    </div>
    <button class="btn btn-success">Create Post</button>
  </form>
</div>

<%- include('../partials/footer') %>
